span.contact-info{
    float: right;
    position: relative;
    margin-top: 60px;
    margin-right: 20px;
    font-size: 13px;
    font-family: tahoma;
}

span.contact-info > a{
    text-decoration: none;
    color:#045198;
    font-size:13px;
}

span.contact-info > label{
    padding-left: 20px
}

hr{
    clear: both;
    border-color: #d32927;
    size: 2px;
}

#form-box{
    width: 500px;
    margin: auto;    
}

#form-head{
    font-family: tahoma;
    font-size: 18px;
    color: #2c286d;

}

#form-body{
    display:flex;
    border: solid;
    background-color: #ececec;
    border-color: #bcbcbc;
    padding: 20px 25px 20px 25px;
}

#labels{
    width: 70px;
    text-align:right;
    font-size: 14px;
    font-family: tahoma;
    font-color: black;
    padding-right: 20px

}

#labels > label{
    display: block;
    padding-top: 4px; /* NOT PROVIDED IN SPEC BUT ADDED FOR BETTER DISPLAY. */
}

#form-elements > input{
    float: left;
    height: 25px;
    width : 360px;
    margin-bottom: 10px
}

label[for ^= gender_]{
    color: #6f6f6f;
    font-size: 13px;
    font-family: tahoma;
}

select[id ^= dob_] {
    width: 110px;
    font-size: 13px
    font-family: tahoma;
    color: #6f6f6f;
    margin-top: 15px;    
}

textarea#address{
    width:360px;
    height: 135px;
    border-color: #b9b9b9;
    margin-top: 20px;
}

#form-elements > input[type = submit] {
    background-color: #dc2927;
    border-color: #a10200;
    text-align: center;
    font-family: tahoma;
    font-size: 14px;
    color: white;
    width: 130px;
    height: 32px;
    margin-top: 10px;
}